<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Hergetto FanShop</h1>
    <p class="lead">The one and only official merchandise of hergetto!</p>
    <hr class="my-4">
    <p>If you want some epic merchandise click below!</p>
    <a class="btn btn-primary btn-lg" routerLink="/products" role="button">Show me the merchandise!</a>
  </div>
</div>

<div class="row">
  <div class="col-md-7 pl-3 pt-2 pr-1">
    <h2 class="display-6">Over de Fanshop</h2>
    <p class="lead">
      Hergetto was made te be together in a safe way.
      Here at the fanshop we've made products to show your love and support for hergetto.
      Cool clothing and other items.
      All products are made with love and care!
      Also you can be twins with your best friend if you order the same clothing! WOW!
    </p>
  </div>
  <div class="col-md-5">
    <img src="assets/img/banner.png" alt="foto" class="img-fluid rounded showcase-img">
  </div>
</div>
