.product-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product {
  padding: 20px;
  background: #fff;
  border-radius: 10px;
}

.image-block {
  height: 500px;
}

.image {
  height: 500px;
  object-fit: contain;
}
