<div class="row mb-2">
  <div class="col">
    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar">
      <div class="btn-group mr-2">
        <p>{{ order._id }}</p>
      </div>

      <div class="btn-group">
        <button *ngIf="isAdmin" type="button" class="btn btn-success" routerLink="/account/orders/{{ order._id }}/edit">
          <i class="fas fa-edit"></i> edit Order
        </button>
        <button type="button" class="btn btn-primary" routerLink="/account/orders/{{ order._id }}">
          See Details
        </button>
      </div>
    </div>
  </div>
</div>
